<?xml version="1.0" encoding="utf-8"?>
<Window xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableDebinarizeFunctionality>1</EnableDebinarizeFunctionality>
  <ViewPortMouseSensitivityX>0.1</ViewPortMouseSensitivityX>
  <ViewPortMouseSensitivityY>0.3</ViewPortMouseSensitivityY>
  <ViewPortDefaultRotationX>0</ViewPortDefaultRotationX>
  <ViewPortDefaultRotationY>0</ViewPortDefaultRotationY>
  <ViewPortDefaultRotationZ>0</ViewPortDefaultRotationZ>
  <ViewPortDefaultTranslationX>0</ViewPortDefaultTranslationX>
  <ViewPortDefaultTranslationY>-5</ViewPortDefaultTranslationY>
  <ViewPortDefaultTranslationZ>-25</ViewPortDefaultTranslationZ>
  <SceneGrid>21</SceneGrid>
  <SceneDistance>1</SceneDistance>
  <SceneGridColor>8PoI</SceneGridColor>
  <SceneBackColor>keL5</SceneBackColor>
  <SceneXaxisColor>/wAA</SceneXaxisColor>
  <SceneYaxisColor>wT/3</SceneYaxisColor>
  <SceneZaxisColor>AAD/</SceneZaxisColor>
  <TexturesPath>P:\</TexturesPath>
  <BrowserPath>D:\\BITools</BrowserPath>
  <LockLayout>1</LockLayout>
  <ResetViewport>0</ResetViewport>
</Window>